<div class="col-lg-3 col-md-6 mb-4">
    <div class="card h-100">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
            <h4 class="card-title"><%= author.firstName %> <%= author.lastName %></h4>            
            <p class="card-text"><%= author.bio %></p>
        </div>
    </div>
</div>
<div class="col-lg-9 col-md-6 mb-4">
    <div class="row text-center">
        
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">    
                <div class="card-body">
                    <p class="card-text">"This is a quote to the third"</p>                    
                </div>
                <div class="card-footer">
                    <a href="/quotes/" class="btn btn-primary">View Similar</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">    
                <div class="card-body">
                    <p class="card-text">"This is a quote to the third"</p>                    
                </div>
                <div class="card-footer">
                    <a href="/quotes/" class="btn btn-primary">View Similar</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">    
                <div class="card-body">
                    <p class="card-text">"This is a quote to the third"</p>                    
                </div>
                <div class="card-footer">
                    <a href="/quotes/" class="btn btn-primary">View Similar</a>
                </div>
            </div>
        </div>
    
    </div>
</div>