<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= author.firstName %> <%= author.lastName %></h1>
    <p><%= author.bio %></p>
  </body>
</html>
